<h1>Funciona!</h1>

<script>
    function carregaDados(dado){
        document.querySelector('#return').innerHTML = dado;
    }
    data = 'string de teste'
    var request = new XMLHttpRequest();
    function teste(){
        data = document.querySelector('#input').value;
        request.open('POST', '/request', true);
        request.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
        request.send(data);
        request.onreadystatechange = function() {
            if(request.status == 200 && request.readyState == 4){
                var string_data = request.responseText;
                var json_data = JSON.parse(string_data);
                console.log(json_data[0][0])
            }
        }
    }
</script>
<p id='return'></p>
<ul>
    <li></li>
</ul>
<form>
    <input type="text" name="data" id="input" onkeyup="teste()">
</form>
